<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Biblioteca Municipal</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h1>Biblioteca Municipal</h1>
		<br>
		<div>
			<br> 
			<a class="btn btn-warning" href="/indexPersona">Listado
				de personas</a>
		</div>
		<br>
		<div>
			<br> <a class="btn btn-primary" href="/indexLibro">Listado
				de libros</a>
		</div>
		<br>
		<div>
			<br> <a class="btn btn-danger" href="/indexPrestamo">Listado
				de prestamos</a>
		</div>


	</div>

</body>
</html>